body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(./imgs/baloonbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.App-header{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}
.glass__container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 560px;
  position: absolute;
  background-color: rgba(230, 238, 248, 0.2);
  z-index: -1;
}
.Login__Container{
  display: flex;
  width: 380px;
  height: 520px;
  background-color: #E6EEF8;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  box-shadow: 20px 20px 700px rgb(235, 167, 167);
}
.button__container{
  display: flex;
  justify-content:center;
  margin-top: 24px;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.507));
}

#login__button{
  font-size: larger;
  font-weight: 500;
  width: 80%;
  height: 48px;
  border-radius: 16px;
  border: none;
  background-color: rgba(101, 83, 124, 0.8);
  color: #fff;
  box-shadow: inset 0px 0px 10px 2px rgba(73, 72, 73, 0.801);
  
  
}
.buttonScaleAnimation{
  transform: scale(0.98);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}
/* @keyframes buttonScale {
  0%{ transform: scale(1);}
  50%{ transform: scale(1.2);}
  100%{ transform:scale(1);}
  
} */
.Image__container {
  position:absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}
img{
  width: 100%;
  height: auto;
}

